* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
:root {
	--nav-bg: rgba(255, 255, 255, 0.95);
	--default-white: #f5f5f5;
	--transparent-bg: rgba(0, 0, 0, 0.479);
	--button-color: #52565a;
	--button-border: #dee2e6;
	--default-light: #ffffff;
	--lime-light: #c5c2c2;
	--change-color: #33ddff;
	--nav-light: #f8f9fa;
	--trends-color: #0072b5;
	--nav-text: rgba(0, 0, 0, 0.774);
	--link-color: #17a2b8;
	--border-color: #dbc28d;
	--light-blue: #33ddff1a;
	--section-first-bg: #f3f3f3;
	--section-second-bg: #eaeaea;
	--section-first-heading: #e4e4e4;
	--section-second-heading: #dddddded;
}
/* width */
::-webkit-scrollbar {
	width: 11px;
}
/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgb(158, 158, 158);
	height: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #cfcfcf;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #bbbbbb;
}
body {
	position: relative;
	scroll-behavior: smooth;
}
header {
	margin-bottom: 65px;
}
/* navigation bar */
.role-button {
	cursor: pointer;
}
.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: var(--nav-bg);
	box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 15%);
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
}
.sidebar ul .nav-item .nav-link {
	color: var(--nav-text);
	font-size: 15px;
	padding-right: 12px;
	transition: 0.3s ease-in all;
	-webkit-transition: 0.3s ease-in all;
	-moz-transition: 0.3s ease-in all;
	-ms-transition: 0.3s ease-in all;
	-o-transition: 0.3s ease-in all;
}
.sidebar ul .nav-item .nav-link:hover {
	background-color: var(--link-color);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	color: var(--default-white);
}
.sidebar .nav span {
	padding: 8px 10px 8px 17px;
	margin: 8px 0px 8px 0px;
	font-size: 20px;
	border-top: 1px dashed var(--border-color);
	border-bottom: 1px dashed var(--border-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #252525;
}
.sidebar ul .nav-item .nav-link i {
	margin-right: 4px;
}
.brand {
	display: flex;
	align-items: center;
	gap: 10px;
}
.brand img {
	width: 45px;
}
.brand span {
	font-size: 20px;
	font-weight: bold;
}
.contribute a {
	text-decoration: none;
}
.contribute button.btn-ex {
	color: var(--button-color);
	white-space: nowrap;
	position: relative;
	display: flex;
	gap: 8px;
	justify-content: center;
	align-items: center;
	padding: 8px 14px;
	margin-bottom: 2px;
	background-color: var(--default-light);
	border: none;
	box-shadow: -2px -2px 6px rgb(255 255 255 / 0%),
		2px 2px 6px rgb(157 157 157 / 80%);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.btn-ex:active {
	box-shadow: inset -18px -2px 0px rgb(255 255 255 / 0%),
		inset 1px 1px 5px rgb(157 157 157 / 80%) !important;
	transform: scale(0.97);
	-webkit-transform: scale(0.97);
	-moz-transform: scale(0.97);
	-ms-transform: scale(0.97);
	-o-transform: scale(0.97);
}
.contribute button:hover {
	border-color: var(--transparent-bg);
}
/* sidebar */
.sidebar {
	position: fixed;
	left: 0;
	padding: 10px 10px 20px 10px;
	height: 89.3vh;
	overflow-y: scroll;
	background-color: var(--nav-light);
}
/* go to top */
.goTop {
	position: fixed;
	bottom: 17px;
	right: 17px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--default-light);
	opacity: 1;
	visibility: visible;
	z-index: 999;
	color: #a0a0a0;
	font-size: 20px;
	width: 46px;
	height: 46px;
	line-height: 44px;
	border: 1px solid rgba(0, 0, 0, 0.11);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	box-shadow: inset 0 0 0 1px rgb(255 255 255 / 10%),
	0 2px 6px rgb(0 0 0 / 10%);
	-webkit-box-shadow: inset 0 0 0 1px rgb(255 255 255 / 10%),
	0 2px 6px rgb(0 0 0 / 10%);
	text-align: center;
}
.goTop-hidden {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}
/* Intro */
.content-box {
	margin-left: 230px;
}
.intro-bg {
	background-image: url("../assets/images/moon-light-shine-through-window-into-islamic-mosque-interior-min.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	padding: 0;
	margin-left: auto;
	position: relative;
}
.credit {
	color: var(--lime-light);
	font-size: 13px;
	position: absolute;
	bottom: 10px;
	right: 20px;
}
.credit:hover {
	color: var(--button-border);
}
.intro-content {
	background-color: var(--transparent-bg);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 50px;
	padding: 20px;
}
.ayah-1,
.ayah-2 {
	color: var(--lime-light);
	font-size: 24px;
}
.ayah-1 span,
.ayah-2 span {
	display: flex;
	flex-direction: column;
	text-align: right;
}
.ayah-1 span:last-child,
.ayah-2 span:last-child {
	font-size: 17px;
}
.explore-btn button {
	font-size: 17px;
	font-weight: bold;
	color: var(--change-color);
	padding: 13px 40px;
	border: 2px solid var(--change-color);
	background-color: var(--light-blue);
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.explore-btn button:hover {
	color: white;
	background-color: var(--change-color);
}
.contribute {
	display: flex;
	align-items: center;
	gap: 10px;
}
.menu-reveal,
.menu-hide {
	font-size: 20px;
}
.menu-reveal {
	display: none;
}
.menu-hide {
	margin-left: 3.5px;
}
/* terms */
section[id] {
	padding: 50px 35px;
}
.heading {
	position: relative;
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}
.heading h4 {
	font-size: 8.25rem;
	font-weight: bold;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-select: none;
	text-align: center;
}
.heading p {
	position: absolute;
	align-self: center;
	color: #343a39;
	font-size: 2.25rem;
	font-weight: bold;
	line-height: 1.4;
}
.heading p::after {
	content: "";
	background-color: var(--border-color);
	height: 3px;
	width: 81px;
	margin: auto;
	position: absolute;
	bottom: -9px;
	left: 50%;
	transform: translate(-50%);
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
}
.content h4 {
	margin-bottom: 13px;
}
.full-one-col section:nth-child(n) {
	background-color: var(--section-first-bg);
}
.full-one-col section:nth-child(2n) {
	background-color: var(--section-second-bg);
}
.full-one-col section:nth-child(n) .heading h4 {
	color: var(--section-first-heading);
}
.full-one-col section:nth-child(2n) .heading h4 {
	color: var(--section-second-heading);
}
/* salah faroj */
.base-list {
	list-style-type: none;
}
.base-list li {
	padding-bottom: 20px;
}
/* responsive part */
@media (max-width: 1060px) {
	.container-fluid {
		padding-left: 0;
	}
	.content-box {
		margin-left: 0;
	}
	/* sidebar */
	.sidebar {
		left: -300px;
		padding: 10px 7px 55px 7px;
		height: 83vh;
		z-index: 999;
		top: 105px;
		transition: 0.5s ease-out;
		-webkit-transition: 0.5s ease-out;
		-moz-transition: 0.5s ease-out;
		-ms-transition: 0.5s ease-out;
		-o-transition: 0.5s ease-out;
	}
	.fade-sidebar {
		left: 0;
	}
	.start-none {
		display: none;
	}
	.mid-nav {
		display: flex !important;
		align-items: center;
		justify-content: center;
		width: 100%;
		position: fixed;
		top: 0;
		height: 40px;
		background-color: var(--trends-color);
		color: var(--default-white);
		z-index: 999;
	}
	.main-nav {
		top: 39px;
		background-color: var(--default-light);
	}
	.contribute .menu-reveal {
		display: block;
	}
}
@media (max-width: 574px) {
	section[id] {
		padding: 50px 20px;
	}
	.out-screen {
		display: none !important;
	}
}
